html{

  font-family: sans-serif,Arial,Helvetica;
}

body , h1, h2{
  margin: 0px;
  padding: 0px;
}



label{

  display: block;
}



label h2{

  margin-bottom: 1rem;

}



.input{

  border: 2px solid;
  border-radius: 1rem;

  transition: border-color 300ms linear;
  padding: 1rem;
  margin-bottom: 5px;

  display: block;
  width: 300px;
}

.input:focus{

  outline: 1rem;
}

.error { 

border-color: red;
}

.inputcontainer{

  margin-bottom: 1rem;
  height: 120px;
}

button{

  background: transparent;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 2rem;
}



button:hover{
  cursor: pointer;

}

button:disabled{

  border-color: rgba(128, 128, 128, 0.24);

}

button:disabled:hover{

  cursor: not-allowed;
  touch-action: none;

}
.erroritem{

  width: fit-content;

  margin: 1rem;
}

.error_text{

  color: red;
  word-break: break-word;
  max-width: 329px;
}

.container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}


.form{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 500px;

}


.lower , .upper{

  padding: 1rem;

}

.upper{

  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.header{

  padding: 1rem;

  text-align: center;

  background-color: black;
}


.header h2{
  color: white;
}

.pass{

  color: green;
}


.card{
overflow: auto;

}