html{

  font-family: sans-serif,Arial,Helvetica;
}

body , h1, h2{
  margin: 0px;
  padding: 0px;
}



label{

  display: block;
}



label h2{

  margin-bottom: 1rem;

}



.input{

  border: 2px solid;
  border-radius: 1rem;

  transition: border-color 300ms linear;
  padding: 1rem;
  margin-bottom: 5px;

  display: block;
  width: 300px;
  border: 3px solid black;

}

.input:focus{

  outline: 1rem;
  border-color: blue;
}

.error { 

border-color: red;
}

.inputcontainer{

  margin-bottom: 1rem;
  height: 120px;
  position: relative;
}

.clearbutton{

  position: absolute;
  right: 1px;
  top: 13px;
  height: 49px;
  padding: 0px;
  padding-left: 11px;
  padding-right: 10px;
  display: grid;
  align-items: center;
  border: none;
  border-radius: 0px 1rem 1rem 0px;

}
.clearbutton:focus{

outline: none;

}

button{

  background: transparent;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 2rem;
}



button:hover{
  cursor: pointer;

}

button:disabled{

  border-color: rgba(128, 128, 128, 0.24);

}

button:disabled:hover{

  cursor: not-allowed;
  touch-action: none;

}
.erroritem{

  width: fit-content;

  margin: 1rem;
}

.error_text{

  color: red;
  word-break: break-word;
  max-width: 329px;
}

.container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}


.form{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 500px;

}


.upper{
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.lower{

border-top: 1px solid rgba(0, 0, 0, 0.349);

}

.header{

  padding: 1rem;

  text-align: center;

  background-color: black;
}


.header h2{
  color: white;
}

.pass{

  color: green;
}


.card{
overflow: auto;
padding: 1rem;

}


.card::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.card::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
.card::-webkit-scrollbar-thumb:hover {
  background: #555;
}